<h1>Sign Up</h1>
<form  action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label>Username
    <input type="text" name="user[username]" value="">
  </label>

  <label>Password
    <input type="text" name="user[password]" value="">
  </label>

  <input type="submit" name="" value="Sign Up">

  <label>workd_crap
    <textarea name="user[word_crap]" rows="8" cols="80"></textarea>
  </label>

</form>
