

.biz-show-head {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 30px;
  justify-content: space-between;
  min-width: 800px;
}

.biz-name-main {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}

.rating-review-show {
  display: flex;
  margin-top: 19px;
}

.review-number-show {
  color: #666666;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 4px;
  margin-right: 4px;
}

.review-text-show {
  color: #666666;
  font-size: 14px;
  font-family: sans-serif;
}

.price-cuisine-show {
  display: flex;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 14px;
}

.cusine-link-show{
  color: #0073BB;
  margin-left: 8px;
}

.add-buttons-show {
  display: flex;
  margin-top: 65px;
  justify-content: center;
}

.review-button-show {
  height: 36px;
  width: 176px;
  background-color: #D70306;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #8D0005;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 17px;


}

.review-button-show:hover {
  background-color: #E02E33;
}

.review-button-button-show {
  height: 36px;
  width: 176;
  margin-left: 20px;
  font-size: 15px;
  padding-top: 5px;
}

.fa-star {
  margin-left: 5px;
  font-size: 180px;
  height: 20px;
  width: 20px;
}

.photo-button-show {
  border: 1px solid #CCCCCC;
  color: #666666;
  height: 22px;
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  margin-left: 12px;
  margin-top: 0px;
  padding-top: 8px;
  padding-left: 18px;
}

.photo-button-show:hover {
  background-color: #F5F5F5;
}

.add-photo-show {
  margin-left: 9px;
  padding-left: 9px;
}

.fa-camera {
  margin-right: 4px;
}

.map-show {
  width: 300px;
  height: 400px;
  // border: 1px solid #CCCCCC;
  margin-top: 14px;
}

.picture-list-show {
  margin-top: 148px;
  display: flex;
}

.first-photo-show {
  height: 220px;
  width: 200px;
  border: 1px solid black;
}
.second-photo-show {
  height: 250px;
  width: 250px;
  margin-top: -10px;
}
.third-photo-show {
  height: 220px;
  width: 200px;
  border: 1px solid black;
}

.all-hours-show {
margin-bottom: 200px;

}

.hours-div-show {
  color:  #D70306;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;



}

.biz-show-reviews {

}

.biz-show-reviews-text {
  color:  #D70306;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 30px;
}




.week-day {
  font-weight: bold;
  margin-right: 25px;
}

.hour-container-show {
  display: flex;
  font-family: sans-serif;
  font-size: 14px;

}

.hour-container-show ul li {
  margin-top: 5px;
}


.all-hours-show {
    border-left: 1px solid #E6E6E6;
    padding-left: 50px;
    padding-right: 50px;
    height: 5000px;;

}










//
