// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-div {
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}

.biz-idx-page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.holding-box {
  max-width: 1100px;
  display: flex;
  margin: 0 auto;

}
.all-biz {
    display: flex;
    justify-content: space-between;
    width: 630px;
    margin-bottom: 12px;
    border-top: 1px solid #E6E6E6;
    margin: 0 auto;
}

.biz-item {
  margin-top: 17px;
  margin-left: 28px;
  font-family: sans-serif;

}

.business-photo {
  height: 92px;
  width: 92px;
  border-radius: 5px;
  object-fit: cover;
}



.list-item {
  width: 100%;
  height: 120px;

  display: flex;

}

.list-item>li {
  margin-top: 20px;
}

.index-and-name {
  display: flex;
  margin-left: 12px;
}

.biz-name-link {
  color: #0073BB;
  margin-left: 5px;
}
.biz-name-link:hover {
  text-decoration: underline;
}




.business-info {
  font-size: 14px;
  width: 219px;
  color: #333333;
}

.biz-info-div {
  margin-top: 35px;

}

.index-and-name {
  margin-top: 5px;
}


.rating-bar-line {
  display: flex;
  margin-left: 12px;
  margin-top: 5px;
}

.price-cuisine {
  display: flex;
  margin-left: 12px;
  margin-top: 5px;
}

.period {
  color: #999;
  width: 5px;
  margin-bottom: 7px;
  margin-left: 4px;
  padding-right: 10px;
}


.period-container {
  width: 5px;
  margin-bottom: 7px;
}

.cuisine {
  margin-left: 8px;
  font-family: sans-serif;
  font-size: 14px;
  color: #0073BB;
}

.cuisine:hover {
  text-decoration: underline;
}

.biz-review-count-index {
  color: #666666;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 5px;
}

.biz-review-text-index {
  margin-top: 5px;
  color: #666666;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 4px;
  margin-right: 4px;
}

.price-range-undefined {
  color: #666666;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 4px;
  margin-right: 4px;
}

.write-the-first {
  color: #0073BB;
  font-size: 13px;
  font-family: sans-serif;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom:0px;
  padding-top:  10px
}

.write-the-first:hover {
  text-decoration: underline;
}


.write-review-index-item {
  padding-top: 3px;
}


.no-biz {
  font-weight: bold;
  font-size: 24px;
  margin-top: 200px;
  margin-right: 100px;
}



//
