// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.biz-item {
  margin-top: 17px;
  margin-left: 28px;
  font-family: sans-serif;
}

.business-photo {
  height: 92px;
  width: 92px;
  border-radius: 5px;
}

.biz-photo-li {

}

.list-item {
  width: 630px;
  height: 120px;
  border-top: 1px solid #E6E6E6;
  display: flex;

}

.list-item>li {
  margin-top: 20px;
}

.index-and-name {
  display: flex;
  margin-left: 12px;
}

.biz-name-link {
  color: #0073BB;
  margin-left: 5px;
}
.biz-name-link:hover {
  text-decoration: underline;
}


.after-biz-photo {
  margin-right: 70px; 
}


























//
