
.filter-box {
  display: flex;
  height: 70px;
  background-color: #F5F5F5;
  width: 100%;
  position: absolute;
  // left: -150px;
  left: 0px;
  top: 92px;
  // border: 1px solid green;
  justify-content: space-around;
}

.filter-box ul {
  margin-top: 25px;
}


.price-filter {
  display: flex;
  // border-radius: 4px;
  // border: 1px solid pink;

}

.price-label {
  cursor: pointer;
  border: 1px solid #CCCCCC;
  padding: 10px;
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}

.first-price {
  border-radius: 4px 0px 0px 4px;

}

.last-price {
  border-radius: 0px 4px 4px 0px;
}

.price {
  -webkit-appearance: none;
}

.green {
  background-color: #C6F6A4;
  border: 1px solid #419446;
  color: #419446;
}

.noise-filter {
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
}

.noise-level {
  font-weight: bold;
  margin-right: 10px;
}
.delivery-filter {
  display: flex;
}




















//
