

.landing-background1 {
  background-image: image_url("arek-adeoye-221899.jpg");
}

.landing-background2 {
  background-image: image_url("david-nuescheler-140505.jpg");
}

.landing-background3 {
  background-image: image_url("sharon-chen-352895.jpg");
}
.landing-background4 {
  background-image: image_url("austin-moncada-186841.jpg");
}
.landing-background5 {
  background-image: image_url("evan-kirby-71617.jpg");
}
.landing-background6 {
  background-image: image_url("matthew-hamilton-160833.jpg");
}
.landing-background7 {
  background-image: image_url("sebastian-lp-158732.jpg");
}
.landing-background8 {
  background-image: image_url("toa-heftiba-84799.jpg");
}
.landing-background9 {
  background-image: image_url("neonbrand-231219.jpg");
}

.landing-background {
  background-size:cover;
  background-position: 50% 50%;
  // object-fit: cover;
  // position: fixed;
  min-height: 500px;
  width: 100%;
  // top: 0px;
}

.landing-header-ul {
  display: flex;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  justify-content: space-between;
  padding-top: 38px;
  // margin-top: 38px;
}


.log-links {
  display: flex;
  margin-right: 230px;
}

.review-link {
  position: absolute;
  margin-left: 225px;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-top: 9px;
}

.review-link:hover {
  border-bottom: 2px solid white;
}

.log-in-landing {

    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    padding-top: 9px;
}

.log-in-landing:hover {
  border-bottom: 2px solid white;

}

.sign-up-landing {
  border: 2px solid white;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 9px;
  padding-top: 9px;
  margin-left: 20px;
  border-radius: 4px;
}

.sign-up-landing:hover {
  background: white;
  color: rgba(0, 0, 0, 1);
}


.help-landing {
  display: inline-block;
  align: center;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: black;
  text-shadow: -4px -4px 0 white, 4px -4px 0 white,
  -4px 4px 0 white, 4px 4px 0 white;
  margin-left: 48%;
  margin-top: 15px;
}

.landing-body {
  align-content: center;
  margin-top: 10%;

}

.logout-landing {
  border: 2px solid white;
  border-radius: 4px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 9px;
  padding-top: 9px;
  margin-left: 20px;
  margin-right: 180px;
}

.logout-landing:hover {
  background: white;
  color: rgba(0, 0, 0, 1);
}

.landing-form {
  z-index: 10;
  display: flex;
  margin-top: 13px;
  // margin-left: 25px;
  width: 100%;
  justify-content: center;
  height: 45px;
  margin-top: 55px;
}

.landing-form-ul {
  display: flex;
  height: 45px;
  width: 960px;
}

.landing-form ul {
  height: 45px;
}

.find-text-land {
  font-family: sans-serif;
  font-weight: bold;
  background-color: white;
  padding-top: 12px;
  border-radius: 4px 0px 0px 4px;
  height: 33px;
  color: #666666;
  font-size: 18px;
  padding-left: 10px;
}


.nav-input-land {
  background-color: white;
  padding-left: 7px;
  height: 45px;
  width: 300px;
}


.near-text-land {
  font-family: sans-serif;
  font-weight: bold;
  color: #666666;
  background-color: white;
  padding-top: 12px;
  height: 33px;
  font-size: 18px;

}

.near-input-land {
  background-color: white;
  height: 43px;
  padding-left: 9px;
  width: 420px;
  padding-top: 2px;
  font-family: sans-serif;

}
.find-input-land {
  background-color: white;
  height: 30px;
  padding-left: 10px;
  width: 420px;
  padding-top: 15px;

}

.land-input-find {
  width: 420px;
  font-family: sans-serif;
}

.mag-land {
  background-color: #BD1F1F;
  height: 45px;
  width: 65px;
  color: white;
  border-radius: 0px 4px 4px 0px;
}

.fa-search {
  height: 15px;
  width: 15px;
  color: white;
  margin-left: 17px;
}

.mag-land:hover {
  background-color: #A71C1C;
}

.all-biz-landing {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  text-align: center;
}


.restaurant-landing-text {
  margin-left: 7px;
}

.restaurant-landing-text:hover {
  text-decoration: underline;
}



.land-seperator {
  width: 20px;
  height: 100%;
  border-left: #CCCCCC;
  // background-color: green;
  background-color: white;
}

.land-seperator-div {
  height: 28px;
  border-left: 1px solid #CCCCCC;
  margin-top: 8px;
  width: 5px;
  background-color: white;
}


.land-icon {
  padding-left: 8px;
}


.additional-places-landing {
  background-color: #FFFFFF;
  width: 100%;
}

.landing-container {
  display: flex;
  flex-direction: column;
}


.places-to-try {
  text-align: center;
  color: #D70306;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.biz-browse-text {
  padding-top: 35px;
}

.cuisine-search-landing {
  background-color: #F5F5F5;
  margin-top: 50px;
}

.cuisine-landing-container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.cuisine-landing-ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 1020px;

}

.cuisine-landing-ul li {
  width: 220px;
  height: 140px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  margin: 15px;
}

.cuisine-landing-ul li:hover {
  color: #0F78C9;
  border: 1px solid #0F78C9;
  cursor: pointer;
}
.cuisine-pic {
  width: 65px;
  height: 80px;
  background-repeat: no-repeat;
  object-fit: cover;
  margin-left: 78px;
  margin-top: 20px;
  margin-top: 15px;
}

.coffee {
  background-image: asset-url('coffee.svg');
}
.beer {
  background-image: asset-url('beer.svg');
}
.dessert {
  background-image: asset-url('dessert.svg');
}
.diner {
  background-image: asset-url('diner.svg');
}
.french {
  background-image: asset-url('french.svg');
}
.italy {
  background-image: asset-url('italy.svg');
}
.pizza {
  background-image: asset-url('pizza.svg');
}
.steak {
  background-image: asset-url('steak.svg');
}


.footer-pic {
  background-image: image-url('footer_cityscape.png');
  height: 150px;
  width: 653px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.footer {
  border-top: 1px solid #CCCCCC;
  display: flex;
  flex-direction: column;

}

.all-landing-ul {
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  max-width: 2000px;

}
.landing-ul-header {
  color: #D70306;
  font-weight: bold;
  font-style: 18px;

}

.all-landing-container {
  display: flex;
  justify-content: center;
}

.info-landing-ul {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.info-landing-ul a {
  margin-top: 10px;
  font-size: 14px;
  color: #0F78C9;
}

.info-landing-ul a:hover {
  text-decoration: underline;
}

//
