.photo-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
  background-image: image_url("transpBlack75.png")
}

.photo-content {
  display: flex;
  max-width: 1300px;
  max-height: 905px;
  border: 1px solid red;
  z-index: 2;
  min-width: 962px;
  min-height: 615px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.photo-of-photo-show {
  border: 1px solid green;
  background-color: pink;
}

.photo-image-show {
  height: 100%;
  z-index: 5;
  opacity: 1;
}
