.photo-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  background-image: image_url("transpBlack75.png");
}

.photo-content {
  background-image: image_url("transpBlack90.png");
  display: flex;
  width: 1100px;
  max-height: 905px;

  z-index: 2;
  min-width: 962px;
  min-height: 615px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: 0 auto;
  border-radius: 5px;
}

.photo-of-photo-show {
  position: relative;
  width: 550px;
  height: 615px;
}

.photo-image-show {
  z-index: 2;
  height: 100%;
  object-fit: cover;
}

.photo-image-show:hover {
  cursor: pointer;
}

.left-scroll {
  z-index: 3;
  color: white;
  font-size: 60px;
  width: 10%;
  text-align: center;
}

.fa-angle-right {
  padding-top: 250%;
}
.fa-angle-left {
  padding-top: 250%;
}


.left-scroll:hover {
  cursor: pointer;
}
.right-scroll:hover {
  cursor: pointer;
}

.right-scroll {
  z-index: 3;
  color: white;
  font-size: 60px;
  width: 10%;
  text-align: center;
}

.close-modal {
  float: right;
  color: #666666;
  font-family: sans-serif;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
}

.close-container {
  width: 1100px;
  margin: 0 auto;
}

.close-modal i {
  margin-left: 5px;
}
.close-modal:hover {
  cursor: pointer;
  color: white;
}

.trans-photo-bar {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 20px;
  z-index: 4;
  background-image: image_url("transpBlack75.png");
  color: #666666;
  font-family: sans-serif;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
}
