.photo-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
  opacity: .8;
  background-color: black;
  justify-content: center;
  overflow: hidden;

}

.photo-content {
  display: flex;
  max-width: 1300px;
  max-height: 905px;
  border: 1px solid red;
  z-index: 2;
  min-width: 962px;
  min-height: 615px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.photo-page-container {
  position: relative;
  overflow: hidden;
}
