.photo-index-ul {
  // display: flex;
  // justify-content: space-between;
  list-style-type: none;
  max-width: 965px;
  // flex-wrap: wrap;
}

.index-image {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  object-fit: cover;


}

.index-li {
  margin: 6px;
  height: 150px;
  width: 150px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
}
