.photo-upload-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.biz-heading-photos {
  display: flex;
  margin: auto;
  margin-top: 18px;
  flex-direction: column;
  padding-left: 20px;
  width: 400px;

}

.photo-page-ul {
  display: flex;
}

.biz-name-photo {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  color: #0F70BB;

}

.biz-name-photo:hover {
  text-decoration: underline;
}

.add-photo-text {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  color: #D00D25;
  margin-left: 5px;
}

.all-photos-tag {
  font-family: sans-serif;
  font-size: 14px;
  color: #0F70BB;
  margin-top: 6px;

}

.all-photos-tag:hover {
  text-decoration: underline;
}
 // TEXT INSIDE OF PHOTO UPLOAD
.upload-text {
  width: 600px;
  height: 400px;
  position: absolute;
  display: flex;
  justify-content: center;

}

.upload-text h1 {
  font-family: sans-serif;
  font-weight: bold;
  color: #333333;
  font-size: 29px;
  margin-top: 80px;
}

.center-line {
  border-top: 1px solid #B2B2B2;
  margin-top: .5em;
  width: 200px;
}

.ok-text {
  color: #666674;
}

.ok-partition {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.browse-files {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.browse-files-button {
  height: 15px;
  width: 127px;
  background-color: #D70306;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid #8D0005;
  border-radius: 5px;
  text-align: center;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 13px;
}

.second-upload {
  opacity: 0;
  height: 40px;
  width: 127px;
  left: 39.2%;
  bottom: 30.5%;
  position: absolute;
}
.second-upload:hover {
  cursor: pointer;
}

input[type="file"]:hover {
  opacity: 0;
}

.browse-files-button:hover {
  background-color: #E02E33;

}

.upload-text div {

}


// <div className="upload-text">
//   <h1>Drag and drop your photos here</h1>
//   <div>OR</div>
//   <button>Browse Files</button>
// </div>



.image-upload {
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
  width: 600px;
  height: 400px;
  border-radius: 5px;
  border: 3px dashed #B2B2B2;


}

.image-uploaded {
  z-index: 1;
  width: 1000000px;
  height: 400px;
  opacity: 0;
}


.image-preview {
  margin: 0px;
  width: 600px;
  height: 400px;
  position: absolute;
  object-fit: cover;
}

.spin-container {
  width: 600px;
  height: 400px;
  position: absolute;
  background-color:black;
  opacity: .5;
  color: white;
  font-size: 40px;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.small-spin {
  display: flex;
  justify-content: center;
  height: 120px;
  width: 120px;
  margin-top: 110px;
}

.photo-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.photo-submit-button {
  align-self: center;
  margin-left: 400px;
  margin-top: 20px;
  height: 15px;
  width: 127px;
  background-color: #D70306;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid #8D0005;
  border-radius: 5px;
  text-align: center;
  z-index: 2;
  padding-top: 8px;
  padding-bottom: 10px;
}
.photo-submit-button:hover {
  background-color: #E02E33;
}
