.image-upload {
  display: flex;
  margin: auto;
  margin-top: 200px;
  width: 600px;
  height: 400px;
  border: 1px solid red;
}

.image-uploaded {
  z-index: 1;
  width: 1000000px;
  height: 400px;
  border: 1px solid green;
  opacity: 0;
}


.image-preview {
  border: 1px solid yellow;
  margin: 0px;
  width: 600px;
  height: 400px;
  position: absolute;
  object-fit: cover;
}
