

.top-red-bar-with-star {
  background-color: #d32323;
  width: 100%;
  height: 64px;
}

.help {
  display: inline-block;
  align: center;
  font-family: sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: black;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white,
  -2px 2px 0 white, 2px 2px 0 white;
  margin-left: 48%;
  margin-top: 15px;
}

.help-div {
  display: inline;
  margin: 0 auto;
  align: center;
}

.login-signup-string {
  color: #d32323;
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 200px;
  margin-top: 50px;
}

.little-message {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 7px;
  margin-left: 135px;
}

.login-message {
  display: flex;
}

.new-to-help {
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 7px;
  margin-left: 210px;
}

.sign-up-link {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 8px;
  font-weight: bold;
  font-family: sans-serif;
  color: #0066CC;
}

.sign-up-link:hover {
  text-decoration: underline;
}

.auth-form {
  // border: 1px solid black;
  width: 350px;
  margin-top: 50px;
  margin-left: 110px;
}

.auth-list input {
  border: 1px solid gray;
  height: 30px;
  font-family: sans-serif;
  border-radius: 4px;
  padding-left: 5px;
  color: #999;
  font-size: 14px;

}

input:focus {
  color: black;
  border: 1px solid #0066CC
}

.auth-list li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
}
.first-name {
  width: 165px;
}

.last-name {
  width: 165px;
}

.email {
  width: 345px;

}

.password {
  width: 345px;
  margin-top: 7px;

}

.zip-code {
  width: 345px;
  margin-top: 15px;
}


.all-drop {
  background-color: white;
  height: 30px;
  width: 110px;
  color: black;
  font-size: 14px;
}


.drop {
  display:flex;
  justify-content: space-between;

}

.birthday-text {
  display: flex;
  border:0px;
}

.birthday {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
  border:0px;
}

.optional {
  color: #999;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 8px;
  margin-top: 5px;
}

.submit-button {
  width: 350px;
  background-color: #d32323;
  text-align: center;
  color: white;
  font-weight: bold;
  height: 35px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

.submit-button:hover {
  background-color: #E80000   ;
  border: 1px #8d0005
}

.guest-log-in {
  width: 200px;
  background-color: #d32323;
  text-align: center;
  color: white;
  font-weight: bold;
  height: 30px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 185px;
}

.guest-log-in:hover {
  background-color: #E80000   ;
  border: 1px #8d0005
}

.closing {
  display: flex;
  margin-left: 250px;
  margin-top: 10px;
}

.closer {
  color: #999;
  font-size: 12px;
  font-family: sans-serif;
}

.log-link {
  color: #003399;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 5px;
}
.log-link:hover {
  text-decoration: underline;
}

.session-errors {
  display: flex;
}
.session-error {
  margin-top: 15px;
  margin-left: 15px;
  color: red;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: underline;
  text-decoration-color: red;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #F5F5F5;
  border-top: 1px solid lightgray;
}

.git-link {
  position: absolute;
  color: blue;
  font-size: 12px;
  bottom: 0;
  right: 0;
  margin-bottom: 25px;
  margin-right: 20px;
}

.git-link:hover {
  text-decoration: underline;
}







//
